
.navbar{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}
.navbar ul{
    overflow: auto;
    
}
.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-top: 7px;
}
.navbar li a{
    padding: 13px 20px ;
    text-decoration: none;
    color: antiquewhite;
}
.search {
    float:right;
    color: aliceblue;
    padding: 12px 85px;
    size: 2px ;

}
.navbar input{
    border: 2px solid black;
    border-radius: 90px;
    padding:10px 7px;
}
#body{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 500px;
    opacity:100%;
    width:auto;
    font-size: 1.7rem;
    background: url(background2.jpg)center/cover no-repeat;

}
.header_heading{
    padding-top: 200px;
    text-align: center;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:rgb(72, 128, 156);
    background: transparent;
    color:white;
    margin:17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.collection{
    width: 80% ;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.collection col{ 
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.collection col img{
    width: 100px
}
.layer{
    background: transparent;
    height: 100px;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(226, 0,0,0.7) ;
}
.box1{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.box2{
    flex-basis: 31%;
background-color:
rgb(72, 128, 156) ;
border-radius: 10px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background: url(image12.webp);
background-position: center;
background-size: cover;
border-radius:10px ;
text-align: center;
padding: 100px 0;
color: blue;
text-decoration: none;
}
.cta h1{
    color:#cacbd6;
    margin-bottom: 40px;
    padding-top: 50px;
}
.footer{
    width:100%;
    text-align: center;
    padding:30px 0px;
    background-color:rgb(72, 128, 156);
}
.footer h3{
    margin-bottom:25px ;
    margin-top: 20px;
    font-weight: 600px;
}
